body {margin: 5% auto; background: #f2f2f2; color: #444444; font-family: 'monospace'; font-size: 14px; line-height: 1.6; text-shadow: 0 1px 0 #ffffff; max-width: 73%;}
code {background: white;}
a {border-bottom: 1px solid #444444; color: #6060b2; text-decoration: none;}
a:hover {border-bottom: 0;}
h1, h2 {line-height: 1.3;}
