body {
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    font-family: 'Open Sans', sans-serif;
    color:#454545;
    padding:0 10px;
    background-color: #fefefe;
}

h1,h2,h3 {
    font-family: 'Open Sans', sans-serif;
    line-height:1.2;
}

a {
    color: #0077aa;
}
